<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <?= $cakeDescription ?>:
        <?= $this->fetch('title') ?>
    </title>
    <?= $this->Html->meta('icon') ?>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <?= $this->Html->css('base.css') ?>
    <?= $this->Html->css('cake.css') ?>

    <!--SCRIPT-->
       <?php echo $this->Html->script('jquery.js') ?>
       <?php echo $this->Html->script('jquery-1.7.2.min.js')?>

    <?//= $this->Html->script('utils_loja.js') ?>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
    <?= $this->fetch('script') ?>

</head>
<body>
    <nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href="http://www.bolaotricolor.com.br/webroot/mobly/Categorias">Loja Mobly</a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="left">
                <?php
                foreach($categorias as $categoria){
                ?>

                <li><a target="_self" href="http://www.bolaotricolor.com.br/webroot/mobly/Produtos/index/<?= $categoria->id?>"><?=  $categoria->categoria?></a></li>
                <?php
                }
                ?>

                <li><a target="_self" href="http://www.bolaotricolor.com.br/webroot/mobly/Carrinho/index/" id="meuCarrinho"  alt="Meu Carrinho"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" alt="Meu Carrinho"> <?php echo isset($_SESSION['carrinho'])?count($_SESSION['carrinho']): 0 ?></span></a> </li>
                <li><a target="_self" href="http://www.bolaotricolor.com.br/webroot/mobly/Pedidos/index/" id="meusPedidos"  alt="Meus pedidos">Pedidos</a></li>

            </ul>
        </div>
    </nav>
    <?= $this->Flash->render() ?>
    <div class="container clearfix">
        <?= $this->fetch('content') ?>
    </div>
    <footer>
    </footer>
</body>
</html>
